@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', Arial, sans-serif;
  --colour-bg-black: #222222;
  --colour-bg-dark-grey: #2C2C2C;
  --colour-bg-dark-black: #1c1c1c;
  --colour-dark-grey: #262626;
  --colour-accent-gold: #D4AF37;
  --colour-font-grey: #E3E3E3;
  --colour-font-dark-grey: #B3B3B3;
  color: var(--colour-font-grey);
  --margin-spacing: 4rem;
  --section-font-size: 1.8rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--colour-bg-black);
}

/* MOBILE HEADER STYLES */

header {
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-left: 15px;
  z-index: 10;
  display: flex;
  align-items: center;
  touch-action: none;
  box-sizing: border-box;
}

@keyframes fadeInBanner {
  from {
    background-color: #1e1d1d00;
  }

  to {
    background-color: #1e1d1d;
  }
}

.blur-nav {
  animation: fadeInBanner 600ms forwards;
  background-color: var(--colour-bg-black);
  box-shadow: 0px 2px 5px #1515158b;
  border-bottom: 1px solid #2e2e2e;
}

.header-logo-container {
  font-weight: 400;
  letter-spacing: 0.15rem;
  position: absolute;
  left: calc(50% - 132px);
  color: var(--colour-font-grey);
  text-decoration: none;
}

.icon-container {
  cursor: pointer;
  height: 22px;
  width: 30px;
  display: flex;
  align-items: center;
}

.menu-manager,
.menu-manager::before,
.menu-manager::after {
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--colour-font-grey);
  transition: all 400ms;
}

.menu-manager::before {
  content: "";
  position: absolute;
  transform: translateY(-10px);
}

.menu-manager::after {
  content: "";
  position: absolute;
  transform: translateY(10px);
}

.menu-manager[data-active="false"] {
  transition: none;
}

.menu-manager[data-active="true"] {
  background: transparent;
}

.menu-manager[data-active="true"]::before {
  transform: rotate(45deg);
}

.menu-manager[data-active="true"]::after {
  transform: rotate(-45deg);
}

.header-nav {
  position: fixed;
  top: 61px;
  left: 0;
  height: calc(100vh - 60px);
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colour-bg-black);
  transform: translate(-101%);
  transition: transform 400ms;
  z-index: 5;
  border-right: 1px solid rgba(54, 54, 54, 0.47);
  box-shadow: 0px 2px 4px #0f0f0f74;
  touch-action: none;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  align-self: flex-start;
}

.nav-logo-container > img {
  width: 30px;
}

.nav-logo-container > span {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.header-nav[data-active="start"] {
  transform: translate(-101%);
  transition: none;
}

.header-nav[data-active="true"] {
  transform: translate(0%);
}

.header-nav li {
  list-style: none;
  width: 70%;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
}

.header-nav li:not(:last-of-type) {
  border-bottom: 1px solid #ffffff54;
}

.header-nav ul:last-child {
  cursor: pointer;
}

.header-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  margin-top: 0px;
}

.header-logo-container > img {
  display: none;
}

header a {
  text-decoration: none;
  color: var(--colour-font-grey);
}

.contact-link {
  cursor: pointer;
}

/* MOBILE FOOTER STYLES */

footer {
  border-top: 1px solid #2e2e2e;
  background-color: var(--colour-bg-dark-black);
  padding: var(--margin-spacing) 25px 5rem 25px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 0.85rem;
  position: relative;
}

.logo-container {
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.logo-container > img {
  width: 50px;
  align-self: flex-start;
  opacity: 0.8;
}

.logo-container > span {
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: var(--colour-font-grey);
}

.footer-links-container h5 {
  color: #d4af37;
  font-size: 0.95rem;
  font-weight: 400;
  margin: 0px 0px 15px 0px;
}

.footer-links-container > :last-child {
  margin-top: 70px;
}

.footer-links-container span {
  font-style: italic;
  font-weight: 600;
}

.footer-links-container a {
  text-decoration: none;
  color: var(--colour-font-grey);
}

.logo-container {
  display: flex;
}

.copyright {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 0.75rem;
}

/* MOBILE HERO STYLES */

.hero-container {
  width: 100%;
  box-shadow: 0px 2px 5px #1515158b;
  background-color: var(--colour-bg-dark-black);
  border-bottom: 1px solid #2c2c2c;
}

.banner-img > img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: 80%;
  filter: grayscale(1);
  opacity: 0.25;
}

.hero-container h1 {
  font-size: 2.8rem;
  text-shadow: 3px 4px 5px #22222280;
  max-width: 416px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
}

.hero-container h1 > span {
  color: var(--colour-accent-gold);
  font-style: italic;
  font-weight: 300;
}

.hero-content > span {
  font-weight: 300;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 50px;
}

.hero-content > span > span {
  color: var(--colour-accent-gold);
}

.hero-content p {
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 40px;
}

.hero-content {
  padding: 30px 15px 30px 15px;
}

.search-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1acc;
  padding-right: 5px;
  margin-bottom: 35px;
}

.search-container > input {
  height: 40px;
  width: calc(100% - 25px);
  font-size: 1rem;
  background: transparent;
  border: none;
  padding-left: 10px;
  color: #838383;
}

.search-container > input::placeholder {
  font-style: italic;
  color: #838383;
}

.search-container > input:focus {
  outline: none;
}

.search-container > img {
  height: 25px;
}

/* MOBILE SERVICES STYLES */

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.title-search-container,
.services-container .max-width {
  width: 90%;
}

.services-container h2 {
  font-weight: 300;
  color: var(--colour-font-dark-grey);
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--colour-dark-grey);
  box-shadow: 0px 2px 4px #0f0f0f74;
  border: 1px solid #313131;
  position: relative;
  margin-bottom: 20px;
}

.job-img-container {
  height: 150px;
}

.job-img-container > img {
  height: 100%;
  filter: grayscale(1);
  opacity: 0.4;
}

article > button {
  width: 100px;
  height: 35px;
  border: none;
  border-right: 2px solid var(--colour-accent-gold);
  border-top: 2px solid var(--colour-accent-gold);
  background: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  color: var(--colour-accent-gold);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
}

article > button:hover {
  background-color: #2f2f2f;
}

article > h3 {
  padding-left: 100px;
  position: absolute;
  margin: 0px;
  top: 60px;
  font-size: 1.6rem;
  font-weight: 400;
}

.article-details {
  font-weight: 300;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 400ms ease-in-out;
}

.article-details[data-expanded="true"] {
  max-height: 700px;
}

.padding-container {
  padding: 20px;
}

.padding-container > h4 {
  color: var(--colour-font-dark-grey);
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
}

.padding-container > ul {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}

.article-details p {
  margin-top: 20px;
  margin-bottom: 35px;
}

.chevron-button {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  cursor: pointer;
}

.chevron-button > span {
  font-style: italic;
  font-size: 0.8rem;
}

.chevron-button > div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--colour-bg-dark-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron-img {
  width: 18px;
}



@media(min-width: 450px) {
  .banner-img > img {
    height: 50vh;
  }

  .title-search-container,
  .services-container > .max-width {
    max-width: 450px;
  }
}

@media(min-width: 850px) {
  .hero-container {
    height: 70vh;
  }

  .hero-container > .max-width {
    display: flex;
    height: 100%;
  }

  .banner-img {
    width: 40%;
  }

  .banner-img > img {
    height: 100%;
  }

  .hero-content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }

  .hero-content p {
    margin-top: 50px;
  }
}

@media(min-width: 1000px) {
  :root {
    --margin-spacing: 4.5rem;
  }

  /* DESKTOP HEADER STYLES */
  
  header {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .header-logo-container {
    font-weight: 400;
    letter-spacing: 0.2rem;
    position: static;
  }

  .header-logo-container > img {
    display: block;
  }
  
  .icon-container {
    display: none;
  }

  .header-nav {
    position: static;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    background-color: unset;
    transform: translate(0%);
    transition: none;
    border-right: none;
    box-shadow: none;
    margin-left: auto;
  }

  .header-nav[data-active="start"] {
    transform: translate(0%);
  }

  .header-nav hr {
    display: none;
  }
  
  .header-nav ul {
    width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    padding-left: 0;
    gap: 70px;
    font-size: 0.9rem;
  }

  .header-nav li {
    width: fit-content;
    padding: 0px;
    display: block;
  }

  .header-nav li:not(:last-of-type) {
    border-bottom: 0px;
  }

  .header-nav li a,
  .contact-link {
    position: relative;
  }

  .header-nav li a::after,
  .contact-link::after {
    position: absolute;
    background-color: var(--colour-font-grey);
    content: "";
    height: 2px;
    width: 0px;
    left: 0px;
    bottom: -3px;
    transition: all 400ms;
  }

  .header-nav li a:hover::after,
  .contact-link:hover::after {
    width: 100%;
  }

  .header-logo-container {
    display: flex;
    align-items: center;
    gap: 10px
  }

  .header-logo-container > img {
    width: 35px;
  }

  .nav-logo-container {
    display: none;
  }

  /* DESKTOP FOOTER STYLES */

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }

  footer > img {
    align-self: flex-start;
    margin-left: 0px;
    width: 100px;
  }

  .footer-links-container {
    display: flex;
    gap: 120px;
  }

  .footer-links-container > :last-child {
    margin-top: 0px;
  }

  .logo-container {
    margin-bottom: 0px;
    align-self: flex-start;
  }

  /* DESKTOP SERVICES SECTION */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 30px;
  }

  .services-container > .max-width {
    width: 70%;
    max-width: 850px;
  }

  .services-container {
    padding-bottom: var(--margin-spacing);
  }

  article {
    margin-bottom: 0px;
    align-self: flex-start
  }

  .title-search-container h2 {
    margin-top: 0px;
  }

  .title-search-container {
    width: 80%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
  }

  .search-container {
    width: 400px;
  }

  .hero-container > .max-width {
    max-width: 1500px;
  }

  .hero-container {
    display: flex;
    justify-content: center;
  }
}

@media(min-width: 2000px) {
  .hero-container {
    height: 50vh;
  }
}