@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', Arial, sans-serif;
  --colour-bg-black: #222222;
  --colour-bg-dark-grey: #2C2C2C;
  --colour-bg-dark-black: #1c1c1c;
  --colour-accent-gold: #D4AF37;
  --colour-font-grey: #E3E3E3;
  color: var(--colour-font-grey);
  --margin-spacing: 4rem;
  --section-font-size: 1.8rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--colour-bg-black);
}

/* MOBILE HEADER STYLES */

header {
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-left: 15px;
  z-index: 10;
  display: flex;
  align-items: center;
  touch-action: none;
}

@keyframes fadeInBanner {
  from {
    background-color: #1e1d1d00;
  }

  to {
    background-color: #1e1d1d;
  }
}

.blur-nav {
  animation: fadeInBanner 600ms forwards;
  background-color: var(--colour-bg-black);
  box-shadow: 0px 2px 5px #1515158b;
  border-bottom: 1px solid #2e2e2e;
}

.company-name {
  font-weight: 400;
  letter-spacing: 0.15rem;
  position: absolute;
  left: calc(50% - 132px);
  color: var(--colour-font-grey);
  text-decoration: none;
}

.icon-container {
  cursor: pointer;
  height: 22px;
  width: 30px;
  display: flex;
  align-items: center;
}

.menu-manager,
.menu-manager::before,
.menu-manager::after {
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--colour-font-grey);
  transition: all 400ms;
}

.menu-manager::before {
  content: "";
  position: absolute;
  transform: translateY(-10px);
}

.menu-manager::after {
  content: "";
  position: absolute;
  transform: translateY(10px);
}

.menu-manager[data-active="false"] {
  transition: none;
}

.menu-manager[data-active="true"] {
  background: transparent;
}

.menu-manager[data-active="true"]::before {
  transform: rotate(45deg);
}

.menu-manager[data-active="true"]::after {
  transform: rotate(-45deg);
}

.header-nav {
  position: fixed;
  top: 61px;
  left: 0;
  height: calc(100vh - 60px);
  width: 80vw;
  display: flex;
  justify-content: center;
  background-color: var(--colour-bg-black);
  transform: translate(-101%);
  transition: transform 400ms;
  z-index: 5;
  border-right: 1px solid rgba(54, 54, 54, 0.47);
  box-shadow: 0px 2px 4px #0f0f0f74;
  touch-action: none;
}

.header-nav[data-active="start"] {
  transform: translate(-101%);
  transition: none;
}

.header-nav[data-active="true"] {
  transform: translate(0%);
}

.header-nav li {
  list-style: none;
  width: 70%;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
}

.header-nav li:not(:last-of-type) {
  border-bottom: 1px solid #ffffff54;
}

.header-nav ul:last-child {
  cursor: pointer;
}

.header-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  margin-top: 0px;
}

.header-nav a {
  text-decoration: none;
  color: var(--colour-font-grey);
}

/* MOBILE FOOTER STYLES */

footer {
  border-top: 1px solid #2e2e2e;
  background-color: var(--colour-bg-dark-black);
  padding: var(--margin-spacing) 25px var(--margin-spacing) 25px;
  display: flex;
  font-weight: 300;
  font-size: 0.85rem;
  position: relative;
}

footer > img {
  width: 100px;
  align-self: flex-start;
  margin-left: auto;
  opacity: 0.8;
}

.footer-links-container h5 {
  color: #d4af37a5;
  font-size: 0.95rem;
  font-weight: 400;
  margin: 0px 0px 15px 0px;
}

.footer-links-container > :last-child {
  margin-top: 70px;
}

.footer-links-container span {
  font-style: italic;
  font-weight: 600;
}

.footer-links-container a {
  text-decoration: none;
  color: var(--colour-font-grey);
}

.copyright {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 0.75rem;
}

/* MOBILE HERO STYLES */

.hero-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  box-shadow: 0px 2px 5px #1515158b;
}

.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40%;
  filter: grayscale(1);
  opacity: 0.3;
}

.hero-container::after,
.hero-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.hero-container::after {
  content: "";
  z-index: 1;
  /* -webkit-backdrop-filter: saturate(180%) blur(5px);  */
  /* backdrop-filter: saturate(180%) blur(5px);  */
  /* backface-visibility: hidden;  */
  /* perspective: 1000; */
  background: linear-gradient(to right, #141414aa, #14141400);
  /* background: linear-gradient(to right, #d4af371c, #D4AF3700); */
}

.hero-overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.hero-overlay h1 {
  /* font-size: 2.8rem; */
  font-size: 12vw;
  margin-bottom: 10px;
  text-shadow: 3px 4px 5px #22222280;
}

.h1-regular {
  font-weight: 300;
}

.h1-italic,
.about-contents h3 > span {
  font-weight: 300;
  font-style: italic;
  color: var(--colour-accent-gold);
}

.hero-container h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  text-shadow: 3px 4px 5px #22222280;
}

.hero-container a {
  width: fit-content;
  margin-top: 30px;
}

.hero-container button:hover > div {
  background: transparent
}

/* MOBILE ABOUT STYLES */

.about-container {
  padding: var(--margin-spacing) 25px var(--margin-spacing) 25px;
}

.about-img-container {
  width: 100%;
  height: 400px;
  position: relative;
  display: block;
}

.about-img-container > img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.4;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #00000074;
}

.about-img-container::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(to top, #d4af371c, #D4AF3700);
  border-radius: 5px;
}

.about-contents {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-contents h3,
.projects-container h3 {
  font-size: var(--section-font-size);
  font-weight: 500;
}

.about-contents > p {
  font-weight: 300;
  font-size: 1rem;
}

.about-contents > p:last-of-type {
  text-indent: 25px;
}

.about-facts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.about-facts > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-facts img {
  width: 50px;
}

.about-facts span {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}

/* MOBILE CAROUSEL STYLES */

.carousel-container {
  background-color: var(--colour-bg-dark-grey);
  padding: var(--margin-spacing) 0px var(--margin-spacing) 0px;
  overflow: scroll;
}

.carousel {
  display: flex;
  gap: 60px;
  align-items: center;
}

.carousel > img {
  -webkit-user-drag: none;
}

.cunningham {
  width: 100px;
  filter: contrast(0.5);
  padding-left: 30px;
}

.elark {
  width: 140px;
  filter: contrast(0);
}

.globoserv {
  width: 270px;
  filter: grayscale(1) brightness(170%);
}

.lencon {
  width: 140px;
  filter: grayscale(1) brightness(55%);
  border-radius: 3px;
}

.mg {
  width: 80px;
  filter: grayscale(1) brightness(90%);
}

.mmps {
  width: 120px;
  filter: grayscale(1) brightness(130%);
}

.nevin {
  width: 130px;
  filter: grayscale(1) brightness(270%) contrast(0.5);
}

.refurb {
  width: 130px;
  filter: grayscale(1) brightness(190%);
}

.cunningham img {
  opacity: 70%;
}

.tolmac {
  width: 90px;
  filter: grayscale(1) brightness(140%);
  padding-right: 45px;
}

/* MOBILE PROJECTS SECTION */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--margin-spacing) 0px var(--margin-spacing) 0px;
  position: relative;
}

.projects-container::before,
.projects-container::after {
  content: "";
  height: 300px;
  width: 6px;
  background-color: var(--colour-accent-gold);
  position: absolute;
  top: calc(50% - 130px);
}

.projects-container::before {
  left: 0px;
}

.projects-container::after {
  right: 0px;
}

.projects-container h3 {
  font-weight: 400;
  margin-top: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px
}

.project-card {
  position: relative;
  height: 180px;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  border: 2px solid #de89287c;
  cursor: pointer;
  overflow: hidden;
}

.project-card h4 {
  margin: 0;
  font-weight: 300;
  position: absolute;
  color: var(--colour-accent-gold);
  z-index: 2;
  left: 10px;
  bottom: 10px;
  font-size: 0.9rem;
}

.project-card > img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  filter: grayscale(1);
  opacity: 70%;
  transition: all 400ms;
}

.project-card::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #141414, #14141400);
  border-radius: 8px;
}

.project-card:hover > img {
  transform: scale(1.1);
  filter: grayscale(0);
}

.projects-container > a {
  font-style: italic;
  text-decoration: none;
  color: var(--colour-font-grey);
  margin-top: 20px;
  font-weight: 300;
}

.projects-container span {
  border-bottom: 1px solid #7c7c7c;
}

/* MOBILE CONTACT STYLES */

.contact-container {
  padding: var(--margin-spacing) 25px var(--margin-spacing) 25px;
  background-color: var();
}

.contact-group {
  font-weight: 300;
}

.contact-container h3 {
  font-weight: 400;
  text-align: left;
  margin-top: 0;
  font-size: var(--section-font-size);
}

.contact-container h4 {
  margin-bottom: 0;
}

.contact-container form {
  margin-top: var(--margin-spacing);
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row > label {
  color: var(--colour-font-grey);
  font-style: italic;
  margin-bottom: 10px;
}

.form-row > input,
.form-row > textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #434343;
  font-size: 1rem;
  color: var(--colour-font-grey);
}

.form-row > input {
  height: 30px;
  margin-bottom: 20px;
}

.form-row > textarea {
  margin-bottom: 20px;
  height: 100px;
  resize: none;
}

.transparent-button {
  cursor: pointer;
  color: var(--colour-font-grey);
  position: relative;
}

.transparent-button > div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent-button,
.transparent-button > div {
  border: 1.5px solid var(--colour-accent-gold);
  background: var(--colour-bg-black);
  border-radius: 2px;
}

.form-submit-button,
.hero-container button {
  width: 120px;
  height: 40px;
  font-size: 0.9rem;
  margin: 6px 0px 0px 5.5px;
}

.form-submit-button > div,
.hero-container button > div {
  right: 4px;
  bottom: 4px;
  transition: background-color 400ms;
}

.form-submit-button:hover > div {
  background: transparent;
}


@media(min-width: 450px) {
  .about-container,
  .contact-container {
    display: flex;
    justify-content: center;
  }

  .hero-overlay {
    padding-left: 8%;
  }

  .hero-overlay h1 {
    font-size: 3.5rem;
  }

  .banner-img img {
    object-position: 60%;
  }

  /* UNIVERSAL CLASSES */

  .max-width {
    max-width: 450px;
  }
}

@media(min-width: 1000px) {
  :root {
    --margin-spacing: 4.5rem;
  }

  /* DESKTOP HEADER STYLES */
  
  header {
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }

  .company-name {
    font-weight: 400;
    letter-spacing: 0.2rem;
    position: static;
  }
  
  .icon-container {
    display: none;
  }

  .header-nav {
    position: static;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    background-color: unset;
    transform: translate(0%);
    transition: none;
    border-right: none;
    box-shadow: none;
    margin-left: auto;
  }

  .header-nav[data-active="start"] {
    transform: translate(0%);
  }

  .header-nav hr {
    display: none;
  }
  
  .header-nav ul {
    width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    padding-left: 0;
    gap: 70px;
    font-size: 0.9rem;
  }

  .header-nav li {
    width: fit-content;
    padding: 0px;
    display: block;
  }

  .header-nav li:not(:last-of-type) {
    border-bottom: 0px;
  }

  /* DESKTOP FOOTER STYLES */

  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }

  footer > img {
    align-self: flex-start;
    margin-left: 0px;
    width: 100px;
  }

  .footer-links-container {
    display: flex;
    gap: 120px;
  }

  .footer-links-container > :last-child {
    margin-top: 0px;
  }

  /* DESKTOP HERO STYLES */

  .hero-container h1 {
    font-size: 4rem;
  }

  .hero-container h2 {
    font-size: 1.5rem;
  }

  .hero-container button {
    height: 60px;
    width: 150px;
    font-size: 1.2rem;
  }

  .about-container > .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-contents h3 {
    align-self: flex-start;
    margin-top: 0;
  }

  .about-img-container {
    width: 40%;
    max-width: 650px;
  }

  .about-contents {
    width: 50%;
  }

  .about-facts {
    gap: 100px;
  }

  /* DESKTOP CAROUSEL STYLES */
  .carousel-container {
    display: flex;
    justify-content: center;
    padding-bottom: calc(var(--margin-spacing) - 30px);
  }

  .carousel {
    overflow: scroll;
    gap: 140px;
    position: relative;
    padding-bottom: 30px;
  }

  .carousel-container > .max-width {
    position: relative;
    width: 90%;
  }

  .carousel-container .max-width::before,
  .carousel-container .max-width::after {
    position: absolute;
    top: 0px;
    content: "";
    width: 100px;
    height: 110px;
  }

  .carousel-container .max-width::before {
    background: linear-gradient(to right, #2C2C2C, #2c2c2c00);
    left: 0px;
    z-index: 5;
  }

  .carousel-container .max-width::after {
    background: linear-gradient(to left, #2C2C2C, #2c2c2c00);
    right: 0px;
  }

  /* DESKTOP PROJECTS STYLES */

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--margin-spacing) 0px var(--margin-spacing) 0px;
    position: relative;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
  }

  .project-card {
    height: 200px;
  }

  .projects-container::before,
  .projects-container::after {
    width: 12px;
  }

  /* DESKTOP CONTACT STYLES */

  .contact-container > .max-width {
    display: flex;
    justify-content: space-around;
  }

  .contact-container form {
    margin-top: auto;
    width: 30%;
  }

  .contact-group {
    width: 40%;
  }

  /* UNIVERSAL CLASSES */

  .max-width {
    max-width: 1300px;
  }
}